<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Portal</title>
</head>
<body>
<h1>Student Portal</h1>
<form method="post" action="/response">
    Student name: <input type="text" name="sname"><br>
    Roll number: <input type="number" name="roll"><br>
    Standard: <input type="number" name="std"><br>
    Mark in Tamil: <input type="text" name="tamil"><br>
    Mark in English: <input type="text" name="english"><br>
    Mark in Maths: <input type="text" name="maths"><br>
    Mark in Science: <input type="text" name="science"><br>
    Mark in Social: <input type="text" name="social"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>