<!DOCTYPE html>
<html lang="en">
<head><style>table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}th, td {
  padding: 15px;
}
</style>
    <meta charset="UTF-8">
    <title>Student Table</title>
</head>
<body>
<table>
    <tr>
        <th>Student Name</th>
        <th>Roll Number</th>
        <th>Standard</th>
        <th>Tamil</th>
        <th>English</th>
        <th>Maths</th>
        <th>Science</th>
        <th>Social</th>
        <th>Sum of Marks</th>
        <th>Average</th>
    </tr>
    <tr>
        <td>{{sname}}</td>
        <td>{{roll_num}}</td>
        <td>{{std}}</td>
        <td>{{tamil}}</td>
        <td>{{english}}</td>
        <td>{{maths}}</td>
        <td>{{science}}</td>
        <td>{{social}}</td>
        <td>{{total_of_marks}}</td>
        <td>{{average_of_marks}}</td>
    </tr>
</table>
</body>
</html>